@model ShopCartViewModel

<div class="container">
    @foreach (var item in Model.ShopCartItems)
    {
        <div class="alert alert-warning mt-3">
            <p>
                <strong>Car:</strong> @item.Car.Name
            </p>

            <p>
                <strong>Price:</strong> @item.Car.Price.ToString("c")
            </p>
        </div>
    }

    <hr />

    <a class="btn btn-danger" asp-controller="Order" asp-action="Index">
        Order
    </a>
</div>